<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="intro">
        <div class="container">
            <div class="intro-text">
                <h1>Hi, I'm [Shahid Thaha]</h1>
                <p>A passionate <strong>Web Developer</strong> focused on creating impactful websites and applications.</p>
                <p>Welcome to my portfolio! Here you can find some of the projects I’ve worked on, along with my skills and contact information. Feel free to explore!</p>
                <a href="/projects" class="btn-primary">View My Projects</a>
            </div>
            <div class="intro-image">
                <img src="/static/image/Meme Messi.jpg" alt="Your Profile Picture">
            </div>
        </div>
    </section>


</body>
</html>
